# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*~

**/[0-9a-z_]*.o
[0-9a-z_]*.o
# this '**/' will match zero dir (https://www.gnu.org/software/bash/manual/html_node/Pattern-Matching.html), then '?*_?*' will match 'self_test'
**/?*_?*
!**/?*_?*.*
**/?*_?*.o
!self_test
# gitignore not use regex, so '+' is wrong
# **/[_a-z]+[^.]+
![0-9]_[0-9]*.*
**/*.so
# *
# **

*.vcd
!5_12
# !E5_*
!5.12_testbench
*.log
!x64_ISA_manual_intel/
!other_resources/
!memory_consistency/
# only add once consistent output, see 20ecf72bf9ad47a8240b9ddffa434799db4f269e
debug_annotate/
debug_block/
debug_quotient/
!bison_flex/
!debug_symbol_puts.log
main
*.output